<%@page_title="Edit" %>

<%= link_to("<<Back to List", {:action => 'list'} )%>

<%= render(:partial => "login")%>
	
<div>
	<%= render(:partial => "error")%>
     
	<h2 align="center">Update user</h2>
	<br />
	<% if current_user.username == @user.username or current_user.role_ids==[1] %>
	<%= form_for(:user, :url => {:action => 'update',:id=> @user.id}) do |f| %>
	<div align="center">
	<%= render(:partial => "form", :locals =>{:f => f}) %>
	</div>
	<br />
		<div align="center"> 
			<%= submit_tag("Update User")%>
		</div>
	
	<% end %>
	<% end %>
</div>

