<h1>Users</h1>

<table border="1" align="center">
  <thead bgcolor=#AAFFAA >
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>class</th>
      <th>Section</th>
      <th>Mobile</th>
      <th>Email</th>
      <th>Actions</th>
      
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
      	<td><%= user.name%></td>
      	<td><%= user.username%></td>
      	<td><%= user.class%></td>
      	<td><%= user.section%></td>
      	<td><%= user.mobile%></td>
        <td><%= user.email %></td>
        <td>
          <%= link_to("Show", {:action => 'show', :id => user.id}) %>
          <%= link_to 'Edit', {:action => 'edit', :id => user.id} %>
          <%= link_to 'Delete', {:action => 'delete', :id => user.id} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />
<div align="center">
	<%= link_to 'New User', 'new' %>
</div>

