<%@page_title="Show" %>


<%= link_to("<<Back to list", {:action => 'list'})%>
	<%= render(:partial => "login")%>
	<%= render(:partial => "error")%>
	<div class="leftmargin">
		<h2 align="center">Show user</h2>
		<br />
		<table align="center" border="1">
			<tr>
				<th class="center">Name</th>
				<td><%= @user.name %></td>
			</tr>
			<tr>
				<th class="center">Username</th>
				<td><%= @user.username %></td>
			</tr>
			<tr>
				<th class="center">Class</th>
				<td><%= @user.std %></td>
			</tr>
			<tr>
				<th class="center">Section</th>
				<td><%= @user.section%></td>
			</tr>
			<tr>
				<th class="center">Email Id</th>
				<td><%= @user.email%></td>
			</tr>
			<tr>
				<th class="center">Mobile No.</th>
				<td><%= @user.mobile %></td>
			</tr>
			<tr>
				<th class="center">Created</th>
				<td><%= @user.created_at %></td>
			</tr>
			<tr>
				<th class="center">Upadated</th>
				<td><%= @user.updated_at %></td>
			</tr>
			<tr>
			<% if can? :manage, User %>
            <th class="center">Status</th>
           <td><%=if @user.deleted_flag then "deleted" else "exist" end%></td>
           <%end%>
			</tr>
			<tr>
				<th class="center">Role</th>
				<% if @user.role_ids==[1] %>
					<td>Admin</td>
				<% elsif @user.role_ids==[3]%>
						<td>Student</td>
						<%else%>
							<td>Teacher</td>
			   <%end%>
			</tr>
			
		</table>
		<br />
		<div align="center">
		<% if current_user.username == @user.username or current_user.role_ids==[1]%>
		 <%= link_to 'Edit', {:action => 'edit', :id => @user.id} %>
          <% end %>
          <% if current_user.username == @user.username or current_user.role_ids==[1]%>
          <%= link_to 'Delete', {:action => 'delete', :id => @user.id} %>
          <% end %>
          </div>
          
	</div>
