<%@page_title="Show" %>


<%= link_to("<<Back to list", {:action => 'list'})%>
	
	<div >
		<h2 >User</h2>
		
		<table title="User">
			<tr>
				<th >Name</th>
				<td><%= @user.name %></td>
			</tr>
			<tr>
				<th >Username</th>
				<td><%= @user.username %></td>
			</tr>
			<tr>
				<th >Class</th>
				<td><%= @user.std %></td>
			</tr>
			<tr>
				<th >Section</th>
				<td><%= @user.section%></td>
			</tr>
			<tr>
				<th >Email Id</th>
				<td><%= @user.email%></td>
			</tr>
			<tr>
				<th >Mobile No.</th>
				<td><%= @user.mobile %></td>
			</tr>
			<tr>
				<th >Created</th>
				<td><%= @user.created_at %></td>
			</tr>
			<tr>
				<th >Upadated</th>
				<td><%= @user.updated_at %></td>
			</tr>
			<tr>
			<% if can? :manage, User %>
            <th >Status</th>
           <td><%=if @user.deleted_flag then "deleted" else "exist" end%></td>
           <%end%>
			</tr>
			<tr>
				<th >Role</th>
				<% if @user.role_ids==[1] %>
					<td>Admin</td>
				<% elsif @user.role_ids==[3]%>
						<td>Student</td>
						<%else%>
							<td>Teacher</td>
			   <%end%>
			</tr>
			
		</table>
		<br />
		<div class="margin">
		<% if current_user.username == @user.username or current_user.role_ids==[1]%>
		 <%= link_to 'Edit', {:action => 'edit', :id => @user.id} %>
          <% end %>&nbsp;&nbsp;
          <% if current_user.username == @user.username or current_user.role_ids==[1]%>
          <%= link_to 'Delete', {:action => 'delete', :id => @user.id} %>
          <% end %>
          </div>
          
	</div>
